.roleChanger {
  position: relative;
  display: inline-block;
}

.role {
  font-size: 2rem;
  color: #fff; 
  align-items: center;
  text-align: center;
}

.typedText {
  display: inline-block;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px); /* Mueve el cursor hacia la derecha */
  }
}
